<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="trace" strict="true" name="LogConfig">
    <Properties>
        <property name="LOG_HOME">/home/ec2-user/web/Java/project-logs/gameapi-daos</property>
        <property name="WEB_FOLDER">web</property>
        <property name="COMMONS_FOLDER">commons</property>
        <property name="WEB_FILE_NAME">web</property>
        <property name="COMMONS_FILE_NAME">common</property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %-5p [%t] %C{2} (%F:%L) - %m%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="WEB"
                     fileName="${LOG_HOME}/${WEB_FOLDER}/${WEB_FILE_NAME}.log"
                     filePattern="${LOG_HOME}/${WEB_FOLDER}/${WEB_FILE_NAME}-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>[%d] - [%c] - [%highlight{%level}] - [%method] - [%t] - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="COMMON"
                     fileName="${LOG_HOME}/${COMMONS_FOLDER}/${COMMONS_FILE_NAME}.log"
                     filePattern="${LOG_HOME}/${COMMONS_FOLDER}/${COMMONS_FILE_NAME}-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>[%d] - [%c] - [%highlight{%level}] - [%method] - [%t] - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingFile>

        <!-- input log to Kafka -->
        <Kafka name="KAFKA" topic="test" syncSend="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS}:%4p %t (%F:%L) - %m%n" />
            <Property name="bootstrap.servers">3.0.124.92:9092</Property>
            <Property name="request.timeout.ms">3000</Property>
            <Property name="linger.ms">1000</Property>
        </Kafka>
    </Appenders>
    <Loggers>
        <AsyncLogger name="WebLog" level="DEBUG">
            <AppenderRef ref="WEB" />
        </AsyncLogger>
        <AsyncLogger name="CommonLog" level="DEBUG">
            <AppenderRef ref="COMMON" />
        </AsyncLogger>

        <AsyncRoot level="INFO">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="KAFKA" />
        </AsyncRoot>
    </Loggers>

</Configuration>